.book body {
    background-color: hsl(240, 3%, 88%);
}

.book ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.book li {
    display: inline;
}

.book h1 {
    color: hsl(30, 95%, 62%);
}

.book h2 {
    color: hsl(1, 66%, 27%);
}

.center-text {
    text-align: center;
}

.book h2 > span {
    color: hsl(30, 95%, 62%);
    font-size: 0.75em;
}

.book form > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.book input:focus:invalid {
    color: red;
    border: red 3px solid;
}

#booking {
    text-align: center;
    padding: 7vw;
}

#booking h1 {
    font-size: 2rem;
    margin-bottom: 2.75vh;
}

#submit {
    background-color: hsl(160, 13%, 33%);
    color: hsl(240, 3%, 88%);
    padding:1vw;
    border: none;
}

#submit:hover {
    background-color: hsl(30, 95%, 62%);
    color: hsl(160, 13%, 33%);;
}